email-automation/email_summary_automation.json
{
  "name": "email summary automation",
  "nodes": [
    {
      "parameters": {
        "content": "- Sends the summarized email report to recipients with a styled HTML layout.\n- Update the \"sendTo\" and \"ccList\" fields with the email addresses of your recipients.\n\n",
        "height": 359.7308639651144,
        "width": 232.8435827211592
      },
      "id": "0d5e1b62-5e1b-4f7d-8f51-935d4442a9cc",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [1320, -60],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Organizes the fetched email data, extracting fields like sender, receiver, CC, and a preview snippet.",
        "height": 305.83657700487913,
        "width": 226.7095107678671
      },
      "id": "d4d0a0a0-70d5-4f0b-a3b9-190d3d6a2837",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [540, -20],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "sendto@email.com",
        "subject": "=สรุปอีเมล n8n Gemini workflow - {{ new Date(new Date().setDate(new Date().getDate() - 1)).toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' }) }}-00:00 เที่ยงคืน ถึง {{ new Date(new Date().setDate(new Date().getDate())).toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' }) }}-07:00 โมงเช้า",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n <meta charset=\"UTF-8\">\n <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n <title>Email Summary - isbonline@quantana.in</title>\n <style>\n body {\n font-family: Arial, sans-serif;\n margin: 0;\n padding: 0;\n background-color: #f9f9f9;\n color: #333;\n line-height: 1.6;\n }\n .email-container {\n max-width: 600px;\n margin: 20px auto;\n background: #ffffff;\n border: 1px solid #ddd;\n border-radius: 10px;\n box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);\n }\n .email-header {\n background-color: #000000;\n color: #fff;\n padding: 20px;\n text-align: center;\n border-top-left-radius: 10px;\n border-top-right-radius: 10px;\n }\n .email-header h1 {\n margin: 0;\n font-size: 24px;\n }\n .email-content {\n padding: 20px;\n }\n .section-item {\n font-size: 20px;\n color: #0073e6;\n margin-bottom: 10px;\n }\n  .section-issue {\n font-size: 20px;\n color: #e60050;\n margin-bottom: 10px;\n }\n  .section-action {\n font-size: 20px;\n color: #e6bc00;\n margin-bottom: 10px;\n }\n ul {\n list-style: none;\n padding: 0;\n }\n ul li {\n margin: 10px 0;\n padding: 10px;\n background: #f4f4f4;\n border-radius: 5px;\n }\n .action-item {\n font-weight: bold;\n margin: 5px 0;\n }\n .action-detail {\n margin-left: 10px;\n }\n .email-footer {\n background-color: #0073e6;\n color: #fff;\n text-align: center;\n padding: 10px;\n font-size: 14px;\n border-bottom-left-radius: 10px;\n border-bottom-right-radius: 10px;\n }\n </style>\n</head>\n<body>\n <div class=\"email-container\">\n <div class=\"email-header\">\n <h1>สรุปหัวข้ออีเมล </h1>\n </div>\n <div class=\"email-content\">\n <div>\n <h2 class=\"section-item\">อีเมลที่มีความสำคัญ:</h2>\n <ul>\n  {{ $json.key_details.map(item => `<li style=\"border-left: 4px solid #0073e6;\">${item}</li>`).join('') }}\n </ul>\n </div>\n<div>\n <h2 class=\"section-issue\">อีเมลที่พบปัญหา:</h2>\n <ul>\n  {{ $json.issues_to_look_at.map(issue => `<li style=\"border-left: 4px solid #e60050;\">${issue}</li>`).join('') }}\n </ul>\n </div>\n <div>\n <h2 class=\"section-action\">อีเมลที่ต้องดำเนินการ:</h2>\n <ul>\n  {{ $json.action_items.map(action =>  `\n    <li style=\"border-left: 4px solid #e6bc00;\">\n      <span class=\"action-item\">${action.name}:</span>\n     <span class=\"action-detail\">${action.action}</span>\n     </li>\n  `).join('') }}\n </ul>\n </div>\n </div>\n <div class=\"email-footer\">\n <p>Generated by Quantana ESAgent <br /> A Quantana AI Labs Initiative\n </div>\n </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "ccList": "",
          "replyToSenderOnly": false
        }
      },
      "id": "505f9685-2562-4ed9-a7bb-e08ff1988204",
      "name": "Send Summary - Morning",
      "type": "n8n-nodes-base.gmail",
      "position": [1380, 120],
      "webhookId": "83f2aeb9-7b6c-4336-b5ed-8acfcd259850",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "DSkNNT0LlNeibgJm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "id, From, To, CC, snippet",
        "options": {}
      },
      "id": "8541d935-ec16-438f-8f71-72839b5920a1",
      "name": "Organize Email Data - Morning",
      "type": "n8n-nodes-base.aggregate",
      "position": [600, 120],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 100,
        "filters": {
          "includeSpamTrash": false
        }
      },
      "id": "b9effd21-00cc-415f-b245-b0e6cb1d1cc9",
      "name": "Fetch Emails - Past 24 Hours",
      "type": "n8n-nodes-base.gmail",
      "position": [360, 120],
      "webhookId": "20f1d11d-8a69-43f3-9323-33eaf1b3b600",
      "typeVersion": 2.1,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "DSkNNT0LlNeibgJm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "Fetches all emails received in the past 24 hours from the email address",
        "height": 273,
        "width": 213
      },
      "id": "1f8ee38b-89de-4299-a6c8-135e7f4b5b88",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [300, 0],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "- Starts the workflow every day at 7 AM.\n- Adjust the time if you want the workflow to run at a different hour.",
        "height": 314.47468983163634,
        "width": 248.47086922498647
      },
      "id": "59c013f1-3cda-4bdd-a124-c95c2493170f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [20, -20],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [820, 320],
      "id": "3b239d51-883d-499e-b183-cbf482fbc9a6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xyTpwGUab7KnQGjW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Go through this email summary and identify all key details mentioned, any specific issues to look at, and action items.\nUse this format to output\n\nClean the following JSON string by:\nRemoving the triple backticks (``` and ```json)\nReplacing all \\n escape characters with actual newlines\nUnescaping it so it becomes valid, formatted JSON\nOutput only the cleaned, pretty-printed JSON\n\n{\n \"summary_of_emails\": [\n \"Point 1\",\n \"Point 2\",\n \"Point 3\"\n ],\n \"actions\": [\n {\n \"name\": \"Name 1\",\n \"action\": \"Action 1\"\n },\n {\n \"name\": \"Name 1\",\n \"action\": \"Action 2\"\n },\n {\n \"name\": \"Name 2\",\n \"action\": \"Action 3\"\n }\n ]\n}\n\nInput Data:\n\n {{ $json.data.toJsonString() }}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [820, 120],
      "id": "5ec9af18-ff89-497e-ac1c-3ec148b5f08b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "const rawString = $input.first().json.text;\n\n// Step 1: Remove the ```json and ``` markers\nconst noCodeBlock = rawString.replace(/```json|```/g, '');\n\n// Step 2: Replace all \\n with real newlines (optional for readability)\nconst unescapedNewlines = noCodeBlock.replace(/\\\\n/g, '\\n');\n\n// Step 3: Parse the string as JSON (if needed, trim spaces first)\ntry {\n  const jsonObject = JSON.parse(unescapedNewlines.trim());\n  return jsonObject;\n} catch (e) {\n  console.error('Failed to parse JSON:', e.message);\n}\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 120],
      "id": "cff4e064-9dbf-4612-8982-d10cf8f62fee",
      "name": "Code"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "740168ba-f414-4ef5-a2b8-2399250d73f4",
      "name": "Daily 7AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [100, 120],
      "typeVersion": 1.2,
      "notesInFlow": false
    }
  ],
  "pinData": {},
  "connections": {
    "Organize Email Data - Morning": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Emails - Past 24 Hours": {
      "main": [
        [
          {
            "node": "Organize Email Data - Morning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send Summary - Morning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 7AM": {
      "main": [
        [
          {
            "node": "Fetch Emails - Past 24 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6d208c3-10c2-4d22-a0e3-dc0409a39ab9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3653cfa9028c01dbd7708c22bfda86f8201395d4f5b11f82b49ec0e84056219"
  },
  "id": "jYz09MrdUfNyRSNA",
  "tags": []
}
